:HFSinclude	:gno-hfs:HFSinclude
:bin		:gno:bin
:dev		:gno:dev
:doc		:gno:doc
:etc		:gno:etc
:home		:gno:home
:lang		:gno:lang
:lib		:gno:lib
:sbin		:gno:sbin
:tmp		:gno:tmp
:usr		:gno:usr
:var		:gno:var
